{% extends "base.html" %}
{% block content %}
<div class="container mt-4 text-center">
    <h2 class="mb-3"> Phishing URL Checker</h2>

    <form method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="url" placeholder="Enter URL">
            <button class="btn btn-primary" type="submit">Check</button>
        </div>
    </form>

    {% if result %}
      <div class="alert mt-4 
          {% if is_phish %}alert-danger
          {% elif result == "URL is required" %}alert-warning
          {% else %}alert-success{% endif %}">
        {{ result }}
      </div>
    {% endif %}

    {% if feedback %}
<div class="card mt-3 p-3">
  <h5>Hardware Feedback</h5>
  <p>{{ feedback }}</p>
</div>
{% endif %}

</div>
{% endblock %}
